@font-face {
  src: url(fonts/Agbalumo-Regular.ttf);
  font-family: agbalumo;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(4, 55, 122);
  font-family: agbalumo;
}

#main-container {
  width: 80vw;
  height: 55rem;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: rgb(67, 99, 202);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  box-shadow: -12px 12px 15px 10px rgb(55, 55, 59);
}

.player {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.player .contents {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
}

.name-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.name-container h2 {
  font-size: 3rem;
  word-spacing: 0.2rem;
  font-weight: 700;
  color: rgb(41, 37, 37);
}
.name-container h3 {
  font-size: 4.5rem;
  color: rgb(4, 55, 122);
  font-weight: 700;
}

.player-profile {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: static;
}
.player-profile:hover {
  cursor: pointer;
  border: 4px solid white;
}

#player-profile0 {
  left: 4rem;
  top: 1rem;
}

#player-profile1 {
  right: 4rem;
  top: 1rem;
}

.current-box {
  width: 16rem;
  height: auto;
  background-color: rgb(4, 55, 122);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.current-box h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.current-box h4 {
  font-size: 3.5rem;
  font-weight: 800;
  align-self: center;
}

.dice-sec {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.dice-sec img {
  width: 10rem;
  height: 10rems;
}

#new-game {
  width: 11rem;
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding: 0.5rem;
  background-color: rgb(209, 218, 236);
  border: none;
  border-radius: 15px;
  font-family: agbalumo;
  transition: 0.4s;
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
#new-game .emoji {
  font-size: 1.6rem;
}
#new-game:hover {
  cursor: pointer;
  background-color: rgb(155, 156, 226);
}

.game-btns {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.roll-dice {
  width: 11rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding: 0.5rem;
  background-color: rgb(209, 218, 236);
  border: none;
  border-radius: 15px;
  font-family: agbalumo;
  transition: 0.4s;
}
.roll-dice .emoji {
  font-size: 1.6rem;
}
.roll-dice:hover {
  cursor: pointer;
  background-color: rgb(155, 156, 226);
}

.hold-game {
  width: 11rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding: 0.5rem;
  background-color: rgb(209, 218, 236);
  border: none;
  border-radius: 15px;
  font-family: agbalumo;
  transition: 0.4s;
}
.hold-game .emoji {
  font-size: 1.6rem;
}
.hold-game:hover {
  cursor: pointer;
  background-color: rgb(155, 156, 226);
}

#dice-image {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 17rem;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.active-player {
  background-color: rgb(155, 156, 226);
  padding: 0;
  margin: 0;
}
.active-player h2 {
  font-size: 4rem;
  font-weight: 900;
}
.active-player .score {
  font-size: 6rem;
  font-weight: 900;
}
.active-player .current-box {
  box-shadow: -4px 5px 5px rgb(212, 213, 214);
}

.winner-player {
  background-color: rgb(32, 119, 71);
  padding: 0;
  margin: 0;
}
.winner-player h2 {
  font-size: 5rem;
  font-weight: 900;
  color: white;
}
.winner-player .score {
  font-size: 6rem;
  font-weight: 900;
  color: white;
}/*# sourceMappingURL=style.css.map */